@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #f93235;
    color: #fff;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f93235;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #192229;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    min-height: 10px;
  }
  
  html {
    scroll-behavior: smooth;
  }
